body {
	background-image: url("http://cdn.vectorstock.com/i/composite/92,64/seamless-light-bulb-pattern-texture-or-background-vector-1229264.jpg");

	background-repeat: repeat;
}
p{
	font-size: 50px;
}