body {
	
	background-image: url("http://www.interiorplace.com/product_images/z/214/LW26410L__46857.jpg");
	background-repeat: repeat;
}

.heading{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

h1{
	font-family: Brush Script MT;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	font-size:50px;
}


#onlythis {

	border:30px groove #FFDDF4;
	float:left;
}

span{
	text-decoration: underline;
	font-weight: bold;
	font-style:italic;
	font-family:Brush Script MT;
	font-size: 35px;
}

.aboutmee {
	font-size: 15px;
	background-color: #F0F8FF;
	padding:50px;
	border:30px groove #FFDDF4;
	margin-left: 380px;



