body {
	
	background-image: url("http://www.interiorplace.com/product_images/z/214/LW26410L__46857.jpg");
	background-repeat: repeat;

}
div img {

	padding:5px;
	border:5px groove #FFDDF4;
	float:left;
}



span {
	font-size: 20px;
	
	background-color: #FFFFFF;
	
}

{
	float:left;
}

{
	float:left;
}

{
	float:left;
}

{
	float:left;
}