body{
	
}

#navbar{
	position: static;
	width:1115px;
	padding-top:30px; 
	padding-left:500px;
}

#navbar #holder{
	position: static;
	height:34px;
	border-bottom: 1px solid #000;
	width:1115px;
	padding-left: 17px;
	
}

#navbar #holder ul{
	
	list-style: none;
	margin:0;
	padding:0;
}

#navbar #holder ul li a{
	
	text-decoration: none;
	float:left;
	margin-right:10px;
	font-family: "Arial Black", Gadget, sans-serif;
	color:#000;
	border:1px solid #000;
	border-bottom:none;
	padding:5px;
	width:200px;
	text-align: center;
	display:block;
	background:#FAC9E3;
}

#navbar #holder ul li a:hover{
	
	background:#FFDDF4;
	color:white;
	text-shadow:1px 1px 1px #000;
}

#holder ul li a#onlink{
	background:white;
	color:#000;
	border-bottom:1px solid #fff;
}
#holder ul li a#onlink:hover{
	background:white;
	color:#FAC9E3;
	text-shadow:1px 1px 1px #000;
}


.container-resume1{
	background-color: white;
	width:42.4%;
	margin:auto;
	right:14.3%;
	padding-top: 3%;
	padding-right:7.9%;
	padding-left:7.9%;
	position: relative;
	float:right;
	border-left:1px solid black;
	border-right:1px solid black;
}

.container-resume2{
	background-color: white;
	width:42%;
	margin:auto;
	right:15.1%;
	padding-top:3%;
	padding-right:7.83%;
	padding-left:7.83%;
	padding-bottom:3%;
	position: relative;
	float:right;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom:1px solid black;
	
}

.container-resume3{
	background-color: white;
	width:42.4%;
	margin:auto;
	right:14.3%;
	padding-top: 3%;
	padding-right:7.9%;
	padding-left:7.9%;
	position: relative;
	float:right;
	border-left:1px solid black;
	border-right:1px solid black;
}

.container-resume4{
	background-color: white;
	width:42%;
	margin:auto;
	right:15.1%;
	padding-top:3%;
	padding-right:7.83%;
	padding-left:7.83%;
	padding-bottom:3%;
	position: relative;
	float:right;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom:1px solid black;
}

.container-resume5{
	background-color: white;
	width:42%;
	margin:auto;
	right:15.1%;
	padding-top:3%;
	padding-right:7.83%;
	padding-left:7.83%;
	padding-bottom:3%;
	position: relative;
	float:right;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom:1px solid black;
}



.container-profile{
	background-color: white;
	position: fixed;
	width:300px;
	height:1500px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	float:left;
	padding-left: 50px;
	padding-right:-50px;
	left:109px;
	top:-5px;
}
		
.facebook-logo{
	padding-right: 35px;
}
.google-logo{
	padding-top: 35px;
}
.tumblr-logo{
	padding-top: 35px;
	padding-left:35px;
}
.youtube-logo{
	padding-top: 35px;
	padding-left:35px;
}

.facebook-logo:hover{
	opacity: 0.5;
}

.google-logo:hover{
	opacity:0.5;
}
.tumblr-logo:hover{
	opacity: 0.5;
}
.youtube-logo:hover{
	opacity: 0.5;
}


.headline-main{
	padding-right:40px;
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	font-family:'Patua One', cursive;
	font-size: 30px;
	color:#FAC9E3;
}


.short-aboutme{
	padding-top:50px;
	padding-right:50px;
	text-align: justify;
	font-size:14px;
	font-family: 'Roboto', sans-serif;
	word-spacing: 1px;
	
}

.experence-years{
	color:gray;
}

.school-years{
	color:gray;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color:gray;
}
.contact-info{
	text-align: center;
	font-size: 35px;
	text-decoration: underline;
	
}
.contact ul li{
	text-align: center;
	list-style: none;
	display: block;
	padding-right:40px;
	font-size: 20px;
}

.number-of-hours{
	color:gray;
}

.section-resume{
	color:black;
	font-family: 'Patua One', cursive;
}

ul{
	color: black;
	font-family: arial;

}

.culi-resume{
	text-decoration: underline;
}

.stop-motion-project{

	left:50px;
}

p{
	font-family: arial;
	font-size:15px;
}

.headline-section{
	letter-spacing: 4px;
}

