

body{
	background-image: url("../Pictures/Landscape.jpg");
	background-repeat: no-repeat;

}

.container {
	width: 768px;
	margin: auto;
	padding: 5%;
	
}

.portfolio-navigation {
	background-color: black;
	height: 50px;


}

.navigation-item{
	display: inline-block;
	background-image:url("../Pictures/Clouds.png");
	background-repeat: no-repeat;
	background-size: 300px 187.5px;
	height: 500px;
	width: 400px;


	
}

.navigation-link{
	text-decoration: none;
	color:black;
	padding-right: 70px;
	font-size: 30px;
	transition: color 1s;
	

}

.navigation-link:hover{
	color:grey;
	
}

.is-active{
	border-bottom: 5px solid white;
}

.navigation-menu{
	text-align: center;

}

p {

	text-align: center;
}

.panda {
	padding: 5%;
    margin-left: auto;
    margin-right: auto;
	
	
}

@media (min-width: 340px) {
	.container{
		width: 60%;
	}
	.panda{
	width: 70%;
	padding: 5%;
    margin-left: auto;
    margin-right: auto;
	display: block;

	}

	.hate{
		width:80%;
		margin-right:auto; 
		margin-left:auto;
		text-align: center;
	}

	.nav-cloud{
		width:60%;
		margin-right: auto;
		margin-left:auto;
		text-align: center;
	}

}

