.hate{
	color:black;
}
.container {
	width: 768px;
	margin: auto;
	background-color: pink;
	padding: 5%;	
}

p {

	text-align: center;
}

.panda {
	padding: 5%;
    margin-left: auto;
    margin-right: auto;
	
	
}

@media (min-width: 340px) {
	.container{
		width: 60%;
	}
	.panda{
	width: 70%;
	padding: 5%;
    margin-left: auto;
    margin-right: auto;
	display: block;

	}

	.hate{
		width:80%;
		margin-right:auto; 
		margin-left:auto;
		text-align: center;
	}
}
